
/* Generales */
body {
    background-image:url(../img/wallpaperflare.com_wallpaper.jpg);
    

    color: #fff;
font-family: 'Work Sans', sans-serif;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }

  #darkModeButton{
    background-color: black ;
    color: white;
    font-size: 15px;
    border-radius: 22px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;

    
  }
  
  
  
  .logo {
    padding: 10px;
}
  .logo img {
    border-radius: 100px;
    display: block;
    margin: auto;
    width: 250px;
}

h1{

  font-size: 50px;


}

  /* cabezera */

  header {
    background-color: #333;
    padding: 10px;
    margin: 20px;
  }
  /* Navegador */

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

  }
  
  nav li {
    display: inline;
    margin-right: 10px;
    padding-top: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  /* Buscador*/


  
  .search-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
  }
  
  #search-input {
    padding-top: 30px;
    font-size: 16px;
    color: black;
    border: none;
    border-radius: 5px;

  }
  
  

   .search-button i {
    font-size: 18px;
    margin: 8px;

    padding-top: 20px;
   
    font-size: 16px;
    color:black;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

 
  
    /*Footer*/

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  

  
     /*Home page */

    
.albumes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
font-size: 18px;
    border-radius: 22px;
    text-align: center
}
  


.artistas{
display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start}
    
    .cansiones{
      display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start}

.titulo-cansiones h1{

font-size: 50px;
width:100%
}

.titulo-albums h1 {

    font-size: 50px;
}

.titulo-artistas h1{

    font-size: 50px

}

.genres {
    width: 23%;
    text-align: center;
    margin-top: 25px;
    padding: 3%;
}
.genres img {
    border-radius: 5%;
    width: 100%;
}
.genres h4 {  
    font-family:'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 25px;
}
.genres_titulo1 {
    font-family:'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    margin: 5%;
    font-size: 65px;
    padding: 20px;
}

.img-index{


  border-radius: 5%;


}
.nombre-cancion{

  text-align: center;
}

    /*Detalle canciones*/


.detail-cancion{

display: flex;}


.img-detail-can{
margin: 100px;}



.ver-playlist, .boton-agregar-playlist, .nombre-artista, .album{
  color: white;}
  
.nombre-artista,.album{
  font-size: 40px;
}
.ver-playlist{
  font-size: 20px;
}
.boton{
  padding: 12px;
  background-color: black ;
  color: white;
  font-size: 20px;
  border-radius: 22px;
  text-align: center;
}

.imagen-cancion{

border-radius: 40px;
}

.container-texto{


  display: flex;
  flex-direction: column;
}


    /*Destalle artista*/

 .artista{
  
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  margin:0px;
  }
.top-albums{

    color: white;
    font-size: 40px;
    margin: 30px;

  
}

.t-albums{
list-style-type: none;
}

.nombre-albums{
  display: flex;
}

.imgartista{


margin: 50px;
}


.imagenes-top-albums,.imagen-artista{

  border-radius:30px ;
}



      /*Detalle album*/

.nombre-disco2 , .nombre-artista2 , .genero , .fechaPublicasion , .cansionesdisco{

  color: white;
  font-size: 30px;
  margin: 30px;

}


.imgartist{

  margin: 70px;

}

.imagen-album{

border-radius: 40px;


}

.artist{

display: flex;


}

.contenedor-datos-album{


  display: flex;
  flex-direction: column;
}


 /*Mi Playlist*/
 .titulo-playlist h1{
 color: white;
 text-align: center;
 font-size: 70px;
 letter-spacing: 7px;
 margin: 30px}

.miPlaylist{

display: flex;
flex-wrap: wrap;
justify-content: center;

 }

 .imagen-playlist{

 border-radius: 40px;

  }


  .cada-favorito{

    margin:40px
  }

  /*Generos*/

 .generos-para-vos {

 color: white;
 text-align: center;
 font-size: 70px;
 letter-spacing: 7px;
 margin: 30px;

 }


.generos{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  padding: 6%;
  justify-content: space-between;
}

.genres {
  width: 23%;
  text-align: center;
  margin-top: 25px;
  padding: 3%;
}
.genres img {
  border-radius: 5%;
  width: 100%;
}


.contenedor-resultados{


  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;


}

.contenedor-artista, .contenedor-album, .contenedor-cancion{


  display: flex;
  flex-direction: column;
}

.img-search{

  border-radius: 5%;

}
/* detalle Generos*/



.img-artista{
  border-radius: 5%;

}

.contenedor-artistas{


display: flex;
flex-wrap: wrap;
justify-content: space-between;}


.cont-artista{

margin: 10px;
}

@media (max-width: 767px) {
 

  .listado-menu{

  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

ul li {
  gap: 10px;
  margin-top: 30px;
}
  
header {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.search-container {
  top: 20px;
  right: 20px;


}



.logo img {
  width: 200px;
}

.search-container {
  top: 20px;
  right: 20px;
}

.titulo-cansiones, .titulo-albums, .titulo-artistas{


  font-size: 28px;
  text-align: center;
}

.albumes, .artistas,.cansiones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

 ul li {
  color: #fff;
  font-size: 20px;
  text-align: center;}

  footer .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin-bottom: 20px;
    text-align: center;
  }
 


.generos-para-vos{
  font-size: 40px;
}

.generos{
  display: flex;
  flex-direction: column;
}
.genero-img{
  width: 500px;
}
.contenedor-artistas{
  
  justify-content: center;
  display: flex;
}
.titulo-detalle-genero{
  text-align: center;
}

.detail-cancion{

  display: flex;
  flex-direction: column;
}

.img-detail-can{

  align-self: center;
}

.imgartist,.imgartista{
  align-self: center;

}

.artist{

  display: flex;
  flex-direction: column;
}

.artista{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.search-container {
  position: relative;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
}

.genres img {
  border-radius: 5%;
  width: 300px;
}
}

