body {
    background-color: #000;
    color: #fff;
font-family: 'Urbanist', sans-serif;
  }
  
  header {
    background-color: #333;
    padding: 10px;
    margin: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .search-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
  }
  
  #search-input {
    padding: 10px;
    font-size: 16px;
    color: #000;
    border: none;
    border-radius: 5px;

  }
  
  #search-button {
    padding: 10px 20px;
    font-size: 16px;
    color:black;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    border: none;
    cursor: pointer;
    font-family: 'Delicious Handrawn', cursive;
font-family: 'Noto Sans Zanabazar Square', sans-serif;
  }

   .search-button i {
    font-size: 18px;
    margin: 8px;
  }
  
 
  
  body {
    margin: 0;
    padding: 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-column {
    flex: 1;
    margin-right: 30px;
  }
  
  .footer-column:last-child {
    margin-right: 0;
  }
  
  h4 {
    margin-top: 0;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .logo img {
    border-radius: 100px;
    display: block;
    margin: auto;
    width: 200px;
    
}

.listado-principal {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


.cansiones h1{

font-size: 50px
}

.albumes h1 {

    font-size: 50px

}

.artistas h1{

    font-size: 50px

}

.titulo-detalles h1 {

color: red;
font-size: 20px;



}